body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "sl li li li li sr"
    "sl li li li li sr"
    "ft ft ft ft ft ft";
    gap: 10px;
    row-gap: 10px;
}

.header, .sidebar-left, .sidebar-right, .footer {
    border: 3px solid orange;
    font-size: 40px;
    text-align: center;
}

.header {
    grid-area: hd;
}

.sidebar-left {
    grid-area: sl;
}

.sidebar-right {
    grid-area: sr;
}

.footer {
    grid-area: ft;
}

.listing {
    grid-area: li;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.listing > li {
    border: 2px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.listing > li > h2 {
    text-align: center;
    padding: 10px;
    background-color: orange;
    color: white;
}

.listing > li > .cta {
    margin-top: auto;
    padding: 10px;
    border-top: 2px solid orange;
    text-align: center;
}

.listing > li > .cta > a {
    text-decoration: none;
    color: orange;
    font-size: 30px;
}

.listing .body {
    padding: 10px;
}

/* @media screen and (max-width: 700px) {
    .sidebar-right {
        grid-area: none;
    }
} */


